.landing-page-root {
  background-color: black;
  height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-image {
  height: 75vh;
  width: 75vh;
  position: relative;
}
.labels-container {
  position: absolute;
  text-align: center;
}
.label-1 {
  color: white;
  font-size: 3vw;
  border: 1px solid #000000cc;
  background-color: #000000cc;
}
.label-2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 5vw;
  border: 1px solid #ffffffcc;
  background-color: #ffffffcc;
  align-content: center;
}
