.character-details-root {
  width: 60vh;
  border: 1px solid white;
}
.details-header {
  background-color: white;
  font-size: 3vh;
  padding: 1vh 0vh 1vh 2vh;
}
.details-container {
  display: flex;
  min-height: 20vh;
  padding: 2vh;
}
.character-image {
  width: 20vh;
  height: 20vh;
}
.character-info {
  color: white;
  font-size: 2vh;
  margin-bottom: 1.25vh;
  margin-left: 2vh;
}
