<div class="character-details-root" *ngIf="character">
  <div class="details-header">{{ character.name }} Details</div>
  <div class="details-container">
    <img class="character-image" src="{{ character.image }}" />
    <div>
      <div class="character-info">Name: {{ character.name }}</div>
      <div class="character-info">Status: {{ character.status }}</div>
      <div class="character-info">Species: {{ character.species }}</div>
      <div class="character-info">Type: {{ character.type }}</div>
      <div class="character-info">Gender: {{ character.gender }}</div>
      <div class="character-info">Origin: {{ character.origin.name }}</div>
      <div class="character-info">Location: {{ character.location.name }}</div>
    </div>
  </div>
</div>
