<div class="main-card" *ngIf="character">
  <div class="img-container">
    <img class="img" src="{{ character.image }}" height="100px" width="100px" />
  </div>
  <div class="info-container">
    <div class="info">Name: {{ character.name }}</div>
    <div class="info">Gender: {{ character.gender }}</div>
    <div class="info">Status: {{ character.status }}</div>
    <div class="info">Species: {{ character.species }}</div>
    <div class="info">Type: {{ character.type }}</div>
    <div class="info">Origin: {{ character.origin.name }}</div>
  </div>
</div>
